<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Dodaj kontakt</p>
      <p class="fst-italic">Dobrodosli u Vasu kontakt listu!</p>
    </div>
  </div>
</div>

<div  *ngIf="loading">
  <app-spinner></app-spinner>
</div>



<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="createSubmit()">
        <div class="mb-2">
          <input type="text" required="true" [(ngModel)]="contact.ime" name="ime" class="form-control" placeholder="Ime">
        </div>
        <div class="mb-2">
          <input type="text" required="true" [(ngModel)]="contact.slika" name="slika" class="form-control" placeholder="Slika Url">
        </div>
        <div class="mb-2">
          <input type="email" required="true" [(ngModel)]="contact.email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-2">
          <input type="number" required="true" [(ngModel)]="contact.mobitel" name="mobitel" class="form-control" placeholder="Mobitel">
        </div>
        <div class="mb-2">
          <input type="text" required="true" [(ngModel)]="contact.obrazovanje" name="obrazovanje" class="form-control" placeholder="Obrazovanje">
        </div>
        <div class="mb-2">
          <input type="text" required="true" [(ngModel)]="contact.titula" name="titula" class="form-control" placeholder="Titula">
        </div>
        <div class="mb-2">
          <select required="true" [(ngModel)]="contact.groupId" name="groupId" class="form-control" *ngIf="groups.length > 0">
            <option value="" disabled selected>Odaberi grupu</option>
            <option [value]="group.id" *ngFor="let group of groups">{{group.ime_grupe}}</option>
          </select>
        </div>
        <div class="mb-2">
          <input class="btn btn-danger" value="Stvori" type="submit">
          <a routerLink="/" class="btn btn-dark ms-2">Zatvori</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img [src]="contact.slika" class="contact-img" alt="">
    </div>
  </div>
</div>
