<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-danger fw-bold">Kontakti
      <a routerLink="/contacts/add" class="btn btn-danger btn-sm">
        <i class="fa  fa-plus-circle"></i> Novi</a>
      </p>
      <p class="fst-italic">Dobrodošli u Vašu kontakt listu!</p>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Pretrazi korisnika">
              </div>
              <div class="col">
                  <input type="submit" class="btn btn-outline-dark" value="Pretrazi">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div  *ngIf="loading">
  <app-spinner></app-spinner>
</div>


<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>



<div class="container mt-3" *ngIf="!loading && contacts.length > 0">
  <div class="row">
    <div class="col-md-6" *ngFor="let contact of contacts">
      <div class="card list-group-item-danger shadow-lg my-2">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <img [src]="contact.slika" class="contact-img" alt="">
            </div>
            <div class="col-sm-7">
              <ul class="list-group">
                <li class="list-group-item">Ime : <span class="fw-bold">{{contact.ime}}</span></li>
                <li class="list-group-item">Email : <span class="fw-bold">{{contact.email}}</span> </li>
                <li class="list-group-item">Mobitel : <span class="fw-bold">{{contact.mobitel}}</span> </li>
              </ul>
            </div>
            <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
              <a routerLink="/contacts/view/{{contact.id}}" class="btn btn-warning my-1">
                <i class="fa fa-eye"></i>
              </a>
              <a routerLink="/contacts/edit/:contactId" class="btn btn-primary my-1">
                <i class="fa fa-pen"></i>
              </a>
              <button class="btn btn-danger my-1">
                <i class="fa fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
